.circle-image {
  width: 100%; /* Make the image responsive to the container's width */
  max-width: 400px; /* Maximum width of the image */
  height: auto; /* Height is set to 'auto' to maintain aspect ratio */
  aspect-ratio: 1 / 1; /* Ensures the width and height are always equal, maintaining a circle */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover; /* This makes sure the image covers the area without stretching */
  display: block;
  margin: 0 auto; /* Center the image within its container */
  border: 10px solid #343a40; /* Adds a 10px dark border */
}

.profile-section {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line on smaller screens */
  align-items: center; /* This vertically centers the items in the container */
  padding: 30px 20px; /* Add padding as necessary */
  justify-content: center; /* Center the items horizontally */
}

.profile-text {
  flex: 1; /* Allow the text container to grow */
  max-width: 600px; /* Adjust the max width as needed */
  padding: 0 20px; /* Reduce side padding on smaller screens */
}

.inner {
  padding: 40px; /* Reduce the padding for smaller screens */
  /* rest of your styles for .inner */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem; /* Reduced margin */
}

/* Form fields */
.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  width: 100%; /* Ensure full-width inputs on smaller screens */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Make the label texts a bit larger and more readable */
.form-label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  display: block; /* Ensure labels are block level for better structure */
  color: #343a40;
}

.img-fluid {
  max-width: 100%; /* ensures the image is never more than 100% of its container */
  max-height: 500px; /* sets a maximum height for the image */
  height: auto; /* maintains the aspect ratio of the image */
  display: block; /* prevents inline spacing issues */
  margin-left: auto; /* centers the image horizontally */
  margin-right: auto; /* centers the image horizontally */
  object-fit: contain; /* ensures that the image is scaled properly, maintaining its aspect ratio */
}

/* Responsive image inside a post */
.post-image {
  display: flex; /* use flexbox for container */
  justify-content: center; /* center image horizontally */
  align-items: center; /* center image vertically */
  overflow: hidden; /* ensure the div doesn't exceed its bounds */
  max-height: 500px; /* set a maximum height for the image container */
}

.post-image img {
  flex-shrink: 0; /* prevent the image from shrinking */
  min-width: 100%; /* ensure the image covers the width */
  min-height: 100%; /* ensure the image covers the height */
  object-fit: cover; /* ensure the image covers the area without stretching */
}

/* typing animation */
.typing-animation-container {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  border-right: 3px solid;
  animation: blink-caret 0.75s steps(1) infinite;
}

.connect-button {
  display: inline-block; /* Use inline-block for the link */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.connect-button:hover {
  background-color: #0056b3;
}

.center-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically, optional for this case */
  flex-direction: column; /* Optional, if you want to stack multiple items */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .profile-section {
    padding: 15px; /* Reduce padding on smaller screens */
  }

  .profile-text {
    padding: 0 15px; /* Reduce side padding on smaller screens */
  }

  .inner {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  form {
    margin-bottom: 1rem; /* Reduced margin for smaller screens */
  }

  .post-image {
    height: auto; /* adjust height on smaller screens */
    max-height: 300px; /* smaller max height for the image container on smaller screens */
  }

  .post-image img {
    width: auto; /* make the image auto width on smaller screens */
    max-width: 100%; /* ensure the image is never more than 100% of the container */
    height: auto; /* adjust height automatically */
  }
}
